<!DOCTYPE html>
<html lang="<%= config.language || 'zh-CN' %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title><%= page.title ? page.title + ' | ' + config.title : config.title %></title>
  <meta name="description" content="<%= strip_html(page.description || config.description || '') %>">
  <link rel="stylesheet" href="<%= theme.cdn.fontawesome_css %>">
  <link rel="stylesheet" href="<%= theme.cdn.aplayer_css %>">
  <%- css('css/style.css') %>
</head>