<!DOCTYPE html>
<html lang="<%= config.language || 'zh-CN' %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title><%= page.title ? page.title + ' | ' + config.title : config.title %></title>
  <meta name="description" content="<%= strip_html(page.description || config.description || '') %>">
  <% var lib = theme.cdn || ''; %>
  <link rel="stylesheet" href="<%= lib %>/lib/fontawesome/css/all.min.css" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="<%= lib %>/lib/aplayer/APlayer.min.css" media="print" onload="this.media='all'">
  <script src="<%= lib %>/lib/tailwindcss/tailwindcss.js"></script>
  <script>
    tailwind.config = {
      corePlugins: { preflight: false }
    }
  </script>
  <link rel="stylesheet" href="<%= lib %>/lib/daisyui/full.min.css">
  <%- css('css/style.css') %>
  <%- css('css/home.css') %>
  <%- css('css/dock.css') %>
  <%- css('css/pages.css') %>
  <%- css('css/aplayer.css') %>
  <%- css('css/timeline.css') %>
  <%- css('css/postlist.css') %>
  <%- css('css/hover.css') %>
</head>