<%
  var posts = site.posts.sort('date', -1);
  var layout = theme.archive_timeline_layout || 'left';
%>
<div class="page-container">
  <div class="page-header">
    <h2><i class="fas fa-box-archive"></i> 归档</h2>
  </div>
  <div class="page-body archive-page archive-<%= layout %>">
    <div class="archive-timeline">
      <% var prevYear = ''; %>
      <% var prevYM = ''; %>
      <% posts.each(function(post) { %>
        <%
          var y = date(post.date, 'YYYY');
          var m = date(post.date, 'MM');
          var d = date(post.date, 'DD');
          var ym = y + '-' + m;
          var monthNames = ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'];
          var monthName = monthNames[parseInt(m) - 1];
        %>
        <% if (y !== prevYear) { %>
          <% prevYear = y; prevYM = ''; %>
          <div class="archive-year">
            <span class="year-dot"></span>
            <span class="year-text"><%= y %></span>
          </div>
        <% } %>
        <% if (ym !== prevYM) { %>
          <% prevYM = ym; %>
          <div class="archive-month">
            <span class="month-dot"></span>
            <span class="month-text"><%= monthName %></span>
          </div>
        <% } %>
        <div class="archive-item ajax-link" data-href="<%- url_for(post.path) %>">
          <span class="item-dot"></span>
          <div class="item-card">
            <span class="item-date"><%= m %>-<%= d %></span>
            <a class="item-title ajax-link" data-href="<%- url_for(post.path) %>"><%= post.title %></a>
            <% if (post.categories && post.categories.length > 0) { %>
              <div class="item-cats">
                <% post.categories.forEach(function(cat) { %>
                  <span class="item-cat"><i class="fas fa-folder"></i> <%= cat.name %></span>
                <% }); %>
              </div>
            <% } %>
          </div>
        </div>
      <% }); %>
      <% if (site.posts.length === 0) { %>
        <div class="archive-empty">还没有文章哦~</div>
      <% } %>
    </div>
  </div>
</div>